body {
  font-family: Arial;
}

h1, h2, h3 {
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: calc(33.33% - 10px);
  margin: 0 5px;
}

